# Klub ditemukan: 20
#   - Arsenal F.C.
#   - Aston Villa F.C.
#   - AFC Bournemouth
#   - Brentford F.C.
#   - Brighton & Hove Albion F.C.
#   - Burnley F.C.
#   - Chelsea F.C.
#   - Crystal Palace F.C.
#   - Everton F.C.
#   - Fulham F.C.
#   - Leeds United F.C.
#   - Liverpool F.C.
#   - Manchester City F.C.
#   - Manchester United F.C.
#   - Newcastle United F.C.
#   - Nottingham Forest F.C.
#   - Sunderland A.F.C.
#   - Tottenham Hotspur F.C.
#   - West Ham United F.C.
#   - Wolverhampton Wanderers F.C.

-- Ditemukan 20 klub (HARUS 20)

CREATE TEMP TABLE club_league_fix (
    club_name VARCHAR(100),
    correct_league_id INT
);


UPDATE clubs c
SET league_id = f.correct_league_id
FROM club_league_fix f
WHERE c.name = f.club_name;

SELECT f.club_name FROM club_league_fix f
LEFT JOIN clubs c ON c.name = f.club_name
WHERE c.id IS NULL;
